- invalid_rules = @lead_scoring_rules.select{|r| r.errors.any? }
- if invalid_rules.any?
  There were (#{invalid_rules.size}) invalid rules:
  %br
  - invalid_rules.each_with_index do |rule, i|
    %strong= (i + 1).to_s << "."
    = rule.errors.full_messages.join(", ")
    %br
