ul#event_rules {
  div { display: inline; }

  li.event_rule {
    font-size: 13px;

    &:last-child {
      border-bottom: none;
    }

    input {
      font-size: 13px;
      margin: 0 4px;
      vertical-align: middle;
      margin-bottom: 3px;
    }
    .cloudfuji_event { width: 120px; }
    .match_input { width: 140px; }
    .numeric_input { width: 35px; }
    .tag_input { width: 100px; }
    input[type='checkbox'] {
      width: 14px;
      margin-left: 2px;
    }

    .field_with_errors {
      display: inline;
      input, select {
        background-color: #ffdddd;
      }
      select {
        border: 2px solid #ff9999;
      }
    }
  }

  a.remove_event_rule {
    margin-right: 6px;
    img {
      vertical-align: middle;
      margin-bottom: 4px;
    }
  }
}

.buttonbar.event_rules_buttons {
  width: 845px;
  float: left;
  font-size: 13px;
  input[type='submit'], button { font-size: 14px; }
  .save_or_cancel { float: right; }
  button { float: left; }
}
