li.event_rule {
  font-size: 13px;

  &:last-child {
    border-bottom: none;
  }

  input {
    font-size: 13px;
    margin: 0 4px;
    vertical-align: middle;
    margin-bottom: 3px;
  }
  .event_rules_event { width: 160px; }
  .event_rules_once {
    width: 14px;
    margin-left: 2px;
  }
  .event_rules_match { width: 190px; }
  .event_rules_points { width: 35px; }

  .field_with_errors {
    display: inline;
    input {
      background-color: #ffdddd;
    }
  }
}

ul#event_rules {
  a.remove_event_rule {
    margin-right: 6px;
    img {
      vertical-align: middle;
      margin-bottom: 4px;
    }
  }
}

.buttonbar.event_rules_buttons {
  width: 845px;
  float: left;
  font-size: 13px;
  input[type='submit'], button { font-size: 14px; }
  .save_or_cancel { float: right; }
  button { float: left; }
}
